<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="Laconic.TransactionIsolationLevel.Tests" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Laconic.TransactionIsolationLevel.Tests;Integrated Security=True"/>
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Console" xsi:type="Console" layout="${time} ${logger} -> ${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="Console" />
    </rules>
  </nlog>
</configuration>